[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
requests = "*"
requests-oauthlib = "*"

[dev-packages]
mypy = "*"
types-beautifulsoup4 = "*"

[requires]
python_version = "3.11"
